.main {
 position: absolute;
 top: 0;
 left: 0;
 height: 100vh;
 min-width: 100vw;
 background-image: url("/background-destination-desktop.jpg");
}
.subheading {
 font-family: var(--subheading-two-family);
 font-size: var(--subheading-one-size);
 color: var(--main-color-three);
 text-transform: uppercase;
 position: relative;
 width: 400px;
 left: 8vw;
}
.span {
 color: var(--main-color-two);
 margin-right: 10px;
}
.gap {
 max-width: 100vw;
 height: 150px;
}
.show {
 display: block;
}

.hide {
 display: none;
}
