

.testing  {
 color: var(--main-color-one);
 border: 1px solid black;
 background-color: blue;
 font-family: var(--main-heading-family);
}

.earth {
 font-family: var(--main-heading-family);
 font-size: var(--main-heading-earth-size);
}

.subheading {
 font-family: var(--subheading-one-family);
 font-size: var(--subheading-one-size);
 letter-spacing: var(--subheading-two-character-spacing);
}
