.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 900px;
 background-image: url("/backgroundHome.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

.gap {
 max-width: 100vw;
 height: 250px;
}

.bodyWrap {
  position: relative;
  transform: translateY(15px);
}

@media (max-width: 936px) {
  .header {
   height: 900px;
   background-image: url("/background-home-tablet.jpg");
  }
  .gap {
   height: 150px;
  }
}
@media (max-width: 650px) {
  .header {
    width: 100vw;
    height: 900px;
    background-image: url("/background-home-mobile.jpg");
  }

  .gap {
    height: 150px;
  }
}
