.main {
 position: absolute;
 top: 0;
 height: 100vh;
 background-image: url("/background-technology-desktop.jpg");
}
.text {
 position: relative;
 top: 100px;
 color: white;
}

.learn {
 position: relative;
 top: 80px;
 left: 50px;
 width: 50vw;
 height: 200px;
 color: wheat;
}

.tmp {
 color: white;
}

@media (max-width:936px) {
 .main {
  background-image: url("/background-technology-tablet.jpg");
 }
}

@media (max-width:650px) {
 .main {
  background-image: url("/background-technology-mobile.jpg");
 }
}